DB_SERVER=10.0.1.1,1433
DB_NAME=SSBDatabase
DB_USER=ssbsql
DB_PASSWORD=L^opN8v,@3136
DB_DRIVER=ODBC Driver 17 for SQL Server

HOSPITAL_CODE=10661
HOSPITAL_NAME=โรงพยาบาลสระบุรี
HIS_IDENTIFIER=HIS Vendor A version 1.0

MOPH_TOKEN_URL=https://cvp1.moph.go.th/token?Action=get_moph_access_token
MOPH_TOKEN_HOSPITAL_CODE=10661
MOPH_TOKEN_USER=sbhsaraburi
MOPH_TOKEN_PASSWORD_HASH=6AEDC81C4A59AE79344F7DA5B3FBFDB6DFE660A215A09DA6A62D8B8BFF3532C8

FDH_TOKEN_URL=https://fdh.moph.go.th/token?Action=get_moph_access_token
FDH_TOKEN_HOSPITAL_CODE=10661
FDH_TOKEN_USER=cholchit.10661
FDH_TOKEN_PASSWORD_HASH=4D43284C25D0DCEB4D687E59EB00E85B08FE413D25E87BC2D01884DD48DA0AF9

MOPH_SEND_506_URL=https://epidemcenter.moph.go.th/epidem506/api/Send506
MOPH_SEND_EPI_URL=https://claim-nhso.moph.go.th/api/v1/opd/service-admissions/epi
MOPH_SEND_DMHT_URL=https://claim-nhso.moph.go.th/api/v1/opd/service-admissions/dmht
MOPH_SEND_DT_URL=https://claim-nhso.moph.go.th/api/v1/opd/service-admissions/dt
MOPH_UPDATE_IMMUNIZATION_URL=https://cloud4.hosxp.net/api/moph/UpdateImmunization
MOPH_UPDATE_LAB_URL=https://cvp1.moph.go.th/api/UpdateLab
